.MuiToolbar-root{
  display: flex;
  margin: auto;
}
.MuiTypography-h5{
  font-size: 1rem !important;
}
.default-text{
  text-decoration: none;
  color: inherit
}
.MuiButton-colorInherit{
  width:100%
}
.MuiCardHeader-content{
  text-align: left;
}
.MuiCardHeader-content span{
  white-space: nowrap;
  font-size: 20px;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.Mui-selected{
  color:#ee1260 !important
}
.MuiSnackbarContent-root{
  background-color:#ee1260 !important
}
.material-icons{
  vertical-align: middle;
}